.ProfileContainer{
   width: 40%;
   height: 100%;
   margin: auto;
   margin-top: 115px;
   padding-bottom: 4px;
}

@media only screen and (width > 1300px) {
   .ProfileContainer {
       width: 40%;
   }

   .ProfileImg {
      width: 500px;
      height: 500px;
   }


   .editImgIcon{
      top: 400px;
      left: -100px;
      width: 80px;
      height: 80px;
      font-size: 50px;
      line-height: 80px;
   }
}

@media only screen and (width <= 1300px) {
   .ProfileContainer{
      width: 100%;
      margin-left: 10px;
   }

   .ProfileImg{
      width: 200px;
      height: 200px;
   }

   .editImgIcon{
      top: 150px;
      left: -60px;
      width: 50px;
      height: 50px;
      font-size: 30px;
      line-height: 50px;
   }
}

.ProfileNameDisplay{
   font-size: 50px;
}

.editImgIcon{
   position: relative;
   text-align: center;

   background-color: white;
   border: 1px solid gray;
   border-radius: 50px;
   transition: 0.1s;
}

.editImgIcon:hover{
   transform: scale(1.05,1.05);
   cursor: pointer;
   user-select: none;
}

input[type="file"] {
   display: none;
}

.changeUsernameButton{
   color:gray;
   font-size: 20px;
   cursor: pointer;
   user-select: none;
   transition: 0.1s;
}

.changeUsernameButton:hover{
   transform:translate(5px, 0px);
}

.ProfileImg{
   background-color: #0C4A60;
   border-radius: 500px;
   border: 1px solid black;
}

.ProfileImg:hover{
   transform: scale(1.01,1.01);
}





.profileInfo{
   display: flex;
   flex-direction: column;
   justify-content: end;
}




.logOutButton{
   background-color: blue;
   color: white;
   border: none;
   border-radius: 5px;
   width: 80px;
   text-align: center;
   height: 30px;
   font-size: 20px;
   cursor: pointer;
   position: relative;
   left: calc(100% - 100px);
   transition: 0.2;
}

.logOutButton:hover {
   transform: scale(1.02,1.02);
}