.AllCommentContainer {
    background-color: rgba(200, 200, 200S, 0.5);
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(5px);
    display: flex;
}



.commentWindow-white-box {
    background-color: white;
    margin: auto;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    box-shadow: 0 0 10px lightgray;
    z-index: 3;
    
}


@media only screen and (width > 1300px) {
    .commentWindow-white-box{
        width: 60%;
    }
}


@media only screen and (height <= 800px) {
    .commentWindow-white-box {
        height: 80%;
        margin-top: 120px;
    }
}

@media only screen and (height > 800px) {
    .commentWindow-white-box {
        height: 60%;
    }
}

@media only screen and (width <= 1300px) {
    .commentWindow-white-box {
        width: 90%;
        height: 80%;
    }
}


.helpText{
    color: red;
    margin-left: 15px;
    font-size: 15px;
}

.CommentContainer{
    margin-left: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 10px;
}


.CommentInput{
    margin: 5px;
    border-bottom: 2px solid lightgray;
    height: calc(20% + 20px);
    margin-top: 10px;
    padding-bottom: 17px;
}



.CommentInputText{
    font-weight: normal;
    width:97%;
    height: 60%;
    margin-left: 15px;
    outline: none;
    border: none;
    word-wrap: break-word;
    resize: none;
    padding-left: 0;
    padding-top: 0;
    border-bottom: 1px solid gray;
}

.postCommentButton{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    left: calc((95% - 70px));
    transition: 0;
    position: relative;
}

.postCommentButton:hover{
    border: 1px solid white;
}

.close-button {
    background-color: darkgrey;
    transition: background-color 0s ease-in-out;
    position: relative;
    left: calc((100% - 30px));
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.close-button:hover {
    background-color: red;
}