.SinglePost {
    width: 100%;
    border-bottom: 2px solid rgb(129, 129, 129);
    padding-bottom: 5px;
}

.titleText{
    font-size: 30px;
    font-weight: 5000;
    margin-left: 10px;
}

.authorDateInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
}

.authorName {
    margin-left: 5px;
}

.comment {
    line-height: 25px;
    border-radius: 10px;
    cursor: context-menu;
    user-select: none;
}

.comment:hover {
    background-color: rgba(200, 200, 200, 1);
}



.readMoreOrLess {
    border: none;
    outline: none;
    color: #0C4A60;
    background: none;
    border-bottom: 1px solid #0C4A60;
}

.postText {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 5px;
    width: calc(100%-0px);
    margin-right: 20px;
    margin-left: 10px;
}

.dateInfoAboutPost {
    color: gray;
    font-size: small;
    justify-content: center;
    display: flex;
    margin-right: 20px;
}

.likesAndComments {
    height: 25px;
    display: flex;
    cursor: context-menu;
    justify-content: space-between;
    user-select: none;
    width: 150px;
    border: 1px solid darkgray;
    border-radius: 20px;
    padding-left: 3px;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 3px;

}


.authorPic {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    background-color: #0C4A60;
    border-Radius: 700px;
}

.likeComment{
    height: 25px;
    margin-right: 3px;
}

.likeIconAndCount {
    width: 60px;
    display: flex;
    justify-content: left;
    text-align: center;
    line-height: 25px;
    padding-right:0px;
    margin-right: 0px;
    border-radius: 10px;
}

.likeIconAndCount:hover {
    background-color: rgba(200, 200, 200, 1);
}

