.MainPart {
    width: 60%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #e1dddb;
    margin: auto;
    z-index: 1;
    margin-top: 100px;
}


@media only screen and (width < 1300px) {
    .MainPart {
        width: 100%;
    }
}

@media only screen and (width > 1300px) {
    .MainPart {
        width: 40%;
    }
}
