.MainPart {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #e1dddb;
    position:relative;
    margin: auto;
}

/*changing top and left manually for the canvas that's behind it*/


@media only screen and (width <= 1300px) {
    .MainPart {
        width: 100%;
    }
}

@media only screen and (width > 1300px) {
    .MainPart {
        width: 40%;
    }
}
