.SingleComment {
    width: 90%;    
    padding-bottom: 5px;
    margin-left: 5%;
    position: relative;
}

.SingleComment::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 75%;
    height: 0.5px;
    background-color: lightgray;
    transform: translateX(-50%);
  }


.CommentAuthorDateInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
}

.CommentAuthorName {
    margin-left: 2px;
}



.ThreeDotIcon {
    border-radius: 40px;
    margin-right: 30px;
}

.ThreeDotIcon:hover {
    background-color: rgb(165, 165, 165);
}

.readMoreOrLess {
    border: none;
    outline: none;
    color: #0C4A60;
    background: none;
    border-bottom: 1px solid #0C4A60;
}

.commentText {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-left: 5px;
    width: 90%;
}

.dateInfoAboutComment {
    color: gray;
    font-size: small;
    justify-content: center;
    display: flex;
    margin-right: 30px;
}

.likesAndSettings {
    width: 100%;
    height: 25px;
    display: flex;
    cursor: context-menu;
    justify-content: space-between;
    user-select: none;
}

.CommentlikeIconAndCount:hover {
    background-color:  rgba(200, 200, 200, 1);
}

.CommentAuthorPic {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #0C4A60;
    border-Radius: 700px;
}

.CommentlikeIconAndCount {
    width: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 30px;
    padding-right:10px;
    padding-left: 2px;
    border-radius: 10px;

    cursor: context-menu;
    user-select: none;
}

.CommentLikesAndComments {
    width: 100%;
    margin-top: 5px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}




.hiddenEditDeleteComment {
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50px;
    cursor: context-menu;
    user-select: none;
    margin-top: 10px;
    margin-right: 30px;
    display: flex;
    justify-content: left;
}

.hiddenEditDeleteComment:hover {
    background-color: rgb(185, 183, 183);
}


.editDeleteCommentHidecontainer{
    display: flex;
}

.myIcon {
    line-height: 25px;
    border-radius: 10px;
    cursor: context-menu;
    user-select: none;
}

.myIcon:hover {
    background-color: rgba(200, 200, 200, 1);
}


.hiddenEditDeleteButtonContainer{
    display: flex;
    justify-content: left;
    border: 1px solid gray;
    border-radius: 50px;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 7px;
    height: 25px;
}

.editDeleteHideCommentcontainer{
    display: flex;
    justify-content: left;
}