.TopBar {
    width: 100%;
    height: 100px;
    background-color: #0C4A60;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    top: 0;
    
}


.gradient-blur {
    position: relative;
    background: linear-gradient(to bottom, #0C4A60, #d8d4d1); 
  }
  
.gradient-blur::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to bottom, #0C4A60, #d8d4d1);
    filter: blur(0px);
    
}

.topBarHolder{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

.logoPic:hover{
    width: 200px;
}

.TopBarLSide {
    height: 100%;
    display: flex;
    justify-content: right;
}

.TopBarRSide {
    height: 100%;
    display: flex;
    justify-content: left;
}

.SignInButton {
    border: 0px;
    height: 25px;
    margin-top: 40px;
    width: 80px;
    margin-left: 10px;
    color: aqua;

    transition: background-color 0.3s ease;
    font-weight: 900;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: transparent;
    transition: border-bottom 0s ease-in-out;
}

.SignInButton:hover {
    border-bottom: 2px solid aqua;
    border-radius: 0px;
}

.TopBarItem {
    height: 25px;
    margin-top: 40px;
    width: 80px;
    margin-left: 10px;
    color: aqua;
    transition: background-color 0.3s ease;
    font-weight: 900;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: transparent;
    font-family: cursive;
}

.TopBarItem:hover {
    background-color: darkgray;
}


.NewPostButton {
    width: 70px;
    height: 50px;
    font-size: 20px;
    background-color: #1ba1d2;
    border-radius: 10px;
    color: #0C4A60;
    outline: none;
    border: none;
    margin: auto;
    margin-right: 10px;
    text-align: center;
    font-weight: bold;
    line-height: 45px;
    user-select: none;
    cursor: pointer;
}

.NewPostButton:hover {
    background-color: #20baf2;
}

.TopBarImg {
    color: aqua;
    text-align: center;
    background-color: transparent;
    margin: auto;
    width: 90px;
    height: 90px;
}

.TopBarImg:hover{
    cursor: pointer;

}

.profilePicOnTop {
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
}

.profilePicOnTop:hover{
    cursor: pointer;
}

.profileDisplayOnTop {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    height: 75px;
    margin-right: 20px;

    flex-direction: column;
    align-items: flex-start;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: #0C4A60;
    border: 1px solid white;
    color: #fff;
    font-size: 13px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    top: 40px;
    left: 15px;
    z-index: 1;
    font-weight: normal;
    line-height: 15px;
    animation-delay: 500ms;
    user-select: none;
    cursor: pointer;
}


.hometooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: #0C4A60;
    border: 1px solid white;
    color: #fff;
    font-size: 13px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    top: 60px;
    left: 25px;
    z-index: 1;
    font-weight: normal;
    line-height: 15px;
    user-select: none;
    cursor: pointer;
}



.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:hover .hometooltiptext {
    visibility: visible;
}